# this workflow updates my `resume.json` github gist every time I push a new `resume.json` to the `main` branch
# https://gist.github.com/alifeee/97f9ac1642b1c46cf66942c3f079a42f
name: update GitHub Gist

on:
  push:
    paths:
      - "resume.json"
    branches: ["main"]

jobs:
  update-gist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Deploy to gist
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.GIST_TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          file_path: resume.json
          file_type: json
